<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RxJavaDeme/src/com/gky/rxjava/Rxflatmap.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gky.rxjava.Rxflatmap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RxJavaDeme"/>
</launchConfiguration>
